.header {
    background-color: #fcf8e3;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    margin: auto 0;
}

.pagination {
    margin-left: 25px;
}

.btn-warning {
    margin-left: 5px;
}

#toPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin-bottom: 1px;
}

.navbar-brand {
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
    color: #ce5705 !important;
}

.content-wrapper {
    background-color: #f5d1b8;
}

.content {
    margin: 20px auto;
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
    height: auto;
    max-width: 100%;
}

#error {
    color: red;
    font-size: 40px;

}

#suc {
    color: green;
    font-size: 20px;
}

.footer {
    background-color: #fcf8e3;
    height: 50px;
    line-height: 50px;
}

.usermsg {
    padding-top: 10px;
    padding-bottom: 10px;
}

img.img_sm {
    width: 106px;
}

.task_status_row {
    font-size: smaller;
}

@media screen and (max-width: 767px) {
    .task_body_row {
        max-width: 200px;
        overflow: hidden;
    }
}

.upload_img_wrapper {
    width: 320px;
    height: 240px;
    background-color: #fefefe;
    border: dashed 1px #ccc;
}

.upload_img_wrapper div {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.field_to_order {
    color: #a58067;
    cursor: pointer;
}

.field_to_order span {
    margin-left: 6px;
}

.field_to_order span.up::before {
    content: "\e113";
}

.field_to_order span::before {
    content: "\e114";
}